node_modules
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
test
**/*.spec.ts
**/*.e2e-spec.ts
.vscode
.idea
Dockerfile
.dockerignore
README.md
docker-compose.yml
tsconfig.build.tsbuildinfo
